/*  font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* basic style */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.btn{
    text-decoration: none;
    color: whitesmoke;
    background-color: #fc5e42;
    padding: 15px 20px;
    border-radius: 8px;
    display: inline-block;
}

/* banner area */
header{
    padding: 50px 0;
}
.banner{
    background-color: #161616;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 20px 0;
}
.banner-text{
    width: 45%;
    padding-left: 75px;
    color: whitesmoke
}
.banner-text h2 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 700;
}
.banner-img{
    width: 55%;
}
.banner-img img{
    width: 70%;
    margin-left: 65px;
}

/* Match and blog area */
.matches-area{
    display: flex;
}
.match-blog{
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;;
    width: 400px;
    height: 315px;
    border-radius: 10px;
}
.match-blog a{
    text-decoration: none;
    text-align: center;
    color: #161616;
    background-color: whitesmoke;
    width: 80%;
    padding: 15px 0;
    margin: 25px 0;
    border-radius: 10px;
}
.match-blog a:hover{
    background-color: #fc5e42;
    color: whitesmoke;
}
.match-blog .active{
    background-color: #fc5e42;
    color: whitesmoke;
}
.matches{
    width: 100%;
    display: grid;

    grid-template-columns: repeat(3 , 1fr);
}
.match{
    margin: 0 0 25px 10px;
    border: 0.5px solid gray;
    border-radius: 10px;
}
.match .match-img{
    width: 100%;
}
.match .match-text{
    margin-left: 10px;
}
.match a{
    text-decoration: none;
    display: inline-block;
    color: #161616;
    padding: 6px 5px;
    margin-top: 10px;
    border: 1px solid #161616;
    border-radius: 5px;
}
.match .time{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.match .time .timer , .match .time .comment{
    display: flex;
    align-items: center;
}